@import 'colors';

.articleContainer {
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 680px;
    background-color: $color-second-bg; 
    border-radius: 25px;

    h1 {
        color: white;
        margin: 30px 10px;
    }

    .articleElements p, h1, h2, h3, h4 {
        margin: 20px; 
        color: white;
    }
}