.bannerImageContainer {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding: 0;
    position: relative; 

    .h1 {
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 5px;

        @media screen and (max-width: 1000px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 750px) {
            font-size: 1.2rem;
        }
        @media screen and (max-width: 600px) {
            font-size: 0.9rem;
        }
    }
}