@import 'colors';

.topImageContainer {
    position: relative;
    width: 300px;
    height: 300px;
    @media screen and (max-width: 1000px) {
        width: 250px;
        height: 250px;
    }
    @media screen and (max-width: 600px) {
        width: 200px;
        height: 200px;
    }
}

.blog {
    display: block;
    width: 100%;
    margin: 0 auto;
    display: flex;
    color: white; 
    width: 1400px;
    @media (max-width: 1400px) {
        width: 800px;
    }
    @media (max-width: 800px) {
        width: 340px;
    }


    .posts {
        border-radius: 25px;
        margin: 0 auto 50px auto;
        width: 100%;
        background-color: $color-second-bg;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
            @media (max-width: 1400px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 800px) {
                grid-template-columns: repeat(1, 1fr);
            }
    
        .post {
            width: 350px;
            margin: 35px auto 35px auto;
            display: flex;
            flex-direction: column;
            @media (max-width: 800px) {
                width: 340px;
                margin: 20px auto 20px auto;
            }

            :hover {
                .imageContainer {
                    filter: grayscale(0);
                    transition-duration: .5s;
                }
            }
            
            .titleContainer {
                display: flex;
                justify-content: center;
                display: block;
                height: 35px;
                width: 350px;
                padding-left: 15px;
                @media (max-width: 800px) {
                    height: 25px;
                    width: 300px;
                }
                
                h3 {
                    margin: 0;
                    padding: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
    
            .imageContainer {
                border-radius: 25px;                
                width: 350px;
                height: 250px;
                background-color: white;
                filter: grayscale(100%);
                @media (max-width: 800px) {
                    margin: 0 auto;
                    width: 300px; //
                    border-radius: 0;
                }

                img {
                    border-radius: 25px;     
                    @media (max-width: 800px) {
                        margin: 0 auto;
                        width: 300px; //
                        border-radius: 0;
                    }           
                }
            }
        }
    }
}

