@import 'colors';

.collapse {
    width: 500px;
    margin-bottom: 20px;
    @media screen and (max-width: 600px) {
        width: 300px;
    }
}

.collapseHeader {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 47px;
        border-style: solid; 
        width: 500px;
        cursor: pointer;

        @media screen and (max-width: 600px) {
            width: 300px;
        }
        @media screen and (max-width: 400px) {
            height: 30px;
        }

        h3 {
            color: white;
            font-size: 1.2rem;
            margin-left: 18px;

            @media screen and (max-width: 800px) {
                font-size: 1.1rem;
            }
            @media screen and (max-width: 700px) {
                font-size: 1rem;
            }
            @media screen and (max-width: 400px) {
                font-size: 1rem;
            }
        }

        .collapseButtonArrow {
            margin-right: 17px;
            font-size: 2.5rem;
            font-weight: 200;

            @media screen and (max-width: 1000px) {
            }
            @media screen and (max-width: 700px) {
            }
            @media screen and (max-width: 400px) {
                margin-right: 7px;
            }
        }
    }

    .collapseTextIsOpened {
        color: white;
        padding: 15px;
        margin-top: -1px;
        border-style: solid;
        line-height: 1.5;
        font-size: 1.1rem;
        @media screen and (max-width: 1100px) {
            font-size: 1.1rem;
        }
        @media screen and (max-width: 1000px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 800px) {
            font-size: 0.9rem;
        }
    }