@import 'colors'; 

.footer {
    background-color: $color-footer-bg;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;

    p {
        width: 500px;
    }

    @media screen and (max-width: 950px) {
        padding: 0 3px;
        font-size: 0.6rem;
    }
    @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 0.5rem;
    }
}