@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: 'Raleway', sans-serif;
}

/* @media {
  :root {
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-mono);
}

a {
  color: inherit;
  text-decoration: none; 
  width: 100%;
}
h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  text-align: start;
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}
p {
  line-height: 1.5;
  font-size: 1.1rem;
}

@media screen and (max-width: 1100px) {
  p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1000px) {
  p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px) {
  p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
}

.active {
  /* text-decoration: underline; */
  font-weight: bold;
}