@import 'colors';

.header {
    margin: 0 auto;
    height: 100px;
    width: 100%;
    padding: 16px 10px;
    background-color: $color-header-bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 500px) {
        padding: 16px 20px;
    }
}

.headerFonts {
    font-size: calc(10px + 1.2vmin);
    color: white;
}

.headerImageContainer {
    width: 60px; 
    height: 60px;
}

.headerLeft {
    display: flex;
    align-items: center;
    margin-left: 0;

    div {
        margin-left: 5px;
    }
}
