@import 'colors';

.header {
    margin: 0 auto;
    height: 100px;
    width: 100%;
    padding: 16px 32px;
    background-color: $color-header-bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerFonts {
    font-size: calc(10px + 1.5vmin);
    color: white;
}

.headerImageContainer {
    width: 70px; 
    height: 70px;

    @media screen and (max-width: 500px) {
        width: 50px;
        height: 50px;
    }
}

.headerLeft {
    display: flex;
    align-items: center;

    div {
        margin-left: 10px;
    }
}
