@import 'colors';

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    @media screen and (max-width: 600px) {
        flex-direction: column-reverse;
    }
    @media screen and (max-width: 500px) {
        margin-top: 0;
    }

    .heroImageContainer {
        position: relative;
        width: 200px;
        height: 300px;
        @media screen and (max-width: 1000px) {
            width: 250px;
            height: 200px;
        }
        @media screen and (max-width: 600px) {
            width: 100px;
            height: 100px;
        }
    }

    .heroLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $color-second-bg;
        color: white;
        padding: 20px;
        width: 80%;
        height: 300px;
        @media screen and (max-width: 1000px) {
            height: 250px;
        }
        @media screen and (max-width: 800px) {
            height: 350px;
        }
        @media screen and (max-width: 500px) {
            height: 400px;
        }

        .heroDescription {
            display: flex;
            flex-direction: column;
        }
    }
}