@import 'colors';

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
    width: 100%;
    @media screen and (max-width: 600px) {
        flex-direction: column-reverse;
    }
    @media screen and (max-width: 500px) {
        margin: 0px 0px 20px 0;
    }

    .heroImageContainer {
        position: relative;
        width: 300px;
        height: 300px;
        @media screen and (max-width: 1000px) {
            width: 250px;
            height: 250px;
        }
        @media screen and (max-width: 600px) {
            width: 250px;
            height: 250px;
        }
    }

    .heroLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $color-second-bg;
        color: white;
        padding: 20px;
        height: 300px;
        @media screen and (max-width: 1000px) {
            height: 250px;
        }
        @media screen and (max-width: 800px) {
            height: 300px;
        }
        @media screen and (max-width: 500px) {
            height: 400px;
        }

        .heroDescription {
            display: flex;
            flex-direction: column;
            padding: 0;

            @media screen and (max-width: 1000px) {
                
            }
            @media screen and (max-width: 800px) {
                
            }
            @media screen and (max-width: 500px) {
                padding: 0 20px;   
            }
        }
    }
}