.nav {
    // font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.2vmin);
    color: white;
    text-align: center;

    ul {
        display: flex;
        flex-direction: row;

        li {
            list-style: none;
            margin: 0 16px;
        }
    }
}