.nav {
    // font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.1vmin);
    color: white;
    text-align: center;

    ul {
        display: flex;
        flex-direction: row;

        li {
            display: flex;
            align-items: center;
            list-style: none;
            width: 160px;
            margin: 0 16px;
            @media screen and (max-width: 750px) {
                width: 120px;
            }
            @media screen and (max-width: 650px) {
                width: 110px;
            }
            @media screen and (max-width: 500px) {
                width: 80px;
            }
            @media screen and (max-width: 400px) {
                width: 40px;
            }
            // :hover {
            //     transform: scale(1.1);
            //     transition-duration: .5s;
            // }

            a {
                justify-content: center;
            }
        }
    }
}
// nav active : cf. global.css