.nav {
    // font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: calc(10px + 1.4vmin);

    ul {
        display: flex;
        flex-direction: row;

        li {
            display: flex;
            align-items: center;
            list-style: none;
            width: 200px;
            margin: 0 16px;
            @media screen and (max-width: 800px) {
                width: 130px;
            }
            @media screen and (max-width: 650px) {
                width: 120px;
            }
            @media screen and (max-width: 550px) {
                width: 110px;
            }
            @media screen and (max-width: 500px) {
                width: 80px;
            }
            @media screen and (max-width: 400px) {
                width: 40px;
            }
            a {
                justify-content: center;
            }
        }
    }
}
// nav active : cf. global.css