@import 'colors';

.rendezVous {
    // margin-top: 50px;

    
    .imageContainer {
        position: relative;
        width: 350px;
        height: 250px;
    }

    .backGroundImage {
        width: 100%;
        
    }
}