@import 'colors';

.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 20px 0 20px;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }

    .section1ImageContainer {
        position: relative;
        width: 300px;
        height: 300px;
        @media screen and (max-width: 1000px) {
            width: 250px;
            height: 250px;
        }
        @media screen and (max-width: 600px) {
            width: 200px;
            height: 200px;
        }
    }

    .section1Right {
        display: flex;
        flex-direction: column;
        color: $color-text; 
        padding: 20px;
        // width: 80%;
        width: 100%;
        min-height: 300px;
        // @media screen and (max-width: 750px) {
        //     min-height: 350px;
        // }
        
        .section1Description {
            display: flex;
            flex-direction: column;
        }
    }
}